body{
	margin: 0;
	padding: 0;
}
.privacy-container{
	margin-top:20px;
}
.privacy-container .content{
	display:flex;
	justify-content:space-between;
	font-family:sans-serif;
	color:rgba(0,0,0,0.5);
	font-weight:bold;
	font-size:1.1rem;
	align-items:center;
	padding:0px 10px;
}
.toggle-button{
	height:20px;
	width:50px;
	border:1.5px solid rgba(0,0,0,0.5);
	border-radius:30px;
	display:flex;
	justify-content:flex-start;
	cursor:pointer;
}
.toggle-inner{
	height:20px;
	width:20px;
	background:red;
	border-radius:50%;

}
.privacy-container .content .aerrow{
	transform:rotate(45deg);
	height:10px;
	width:10px;
	background:transform;
	border-top:2px solid rgba(0,0,0,0.5);
	border-right:2px solid rgba(0,0,0,0.5);
}